= form_with(model: post, local: true) do |form|
  -# エラーメッセージの表示④-------------------------
  = render 'error-messages', model: form.object
  -# ---------------------------------------------
  -# エラーメッセージの表示①-------------------------
  - if post.errors.any?
    #error_explanation
      %h2
        = pluralize(post.errors.count, "error")
        prohibited this post from being saved:
      %ul
        - post.errors.full_messages.each do |message|
          %li= message
  -# ---------------------------------------------
  .field
    = form.label :title
    = form.text_field :title
      -# エラーメッセージの表示②-------------------------
      - if @post.errors.messages[:title].any?
      %span.error
        エラーです
      -# --------------------------------------------
  .field
    = form.label :content
    = form.text_area :content
      -# エラーメッセージの表示③-------------------------
      - if @post.errors.messages[:content].any?
      %span.error
        = @post.errors.messages[:content][0]
      -# --------------------------------------------
  .field
    = form.label :image
    = form.text_area :image
  .actions
    = form.submit
